@import '../../styles/colors.scss';

.analytics {
  background: $blue-darkest;
  display: flex;
  justify-content: center;

  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  span {
    color: $white-text;
  }

  &__customize {
    flex: 1;
    max-width: 30%;
  }

  &__report {
    width: 60%;
    background: $blue-darkest;
    border-radius: 6px;
    padding: 0 40px;
    border: 1px solid $green-border;
    -webkit-box-shadow: 0 0 30px 0 $green-shadow;
    -moz-box-shadow: 0 0 30px 0 $green-shadow;
    box-shadow: 0 0 30px 0 $green-shadow;

    & > section {
      border-bottom: 1px solid $green-border;
      padding: 40px 0;

      &:first-child {
        padding-bottom: 0;
      }
      &:first-child,
      &:last-child {
        border-bottom: none;
      }
    }
  }

  &__checkout {
    flex: 1;
    max-width: 30%;

    &-fixed {
      position: fixed;
      bottom: 60px;
      padding: 0 20px;
      width: 20%;

      button {
        width: 100%;
      }
    }
  }

  .section-headline {
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    color: $green-lighter;
  }
}
