$blue-darkest: #031018;
$blue-dark: #461fd3;
$pink-light: #d068d0;
$pink-dark: #aa3aff;
$purple-light: #c47efa;
$purple-dark: #ab3bff;
$green-lighter: #09a9c8;
$green-lightest: #3adeff;
$green-light: #0c8196;
$green-dark: #033f53;
$green-darker: #022e3d;
$green-darkest: #021b24;
$green-border: rgba(5, 87, 114, 0.5);
$green-shadow: rgba(5, 87, 114, 0.3);
$blue-light: #008ce9;
$blue-dark: #0055b6;
$white-text: #e6e6e6;
$white: #f3f3f3;
$pure-white: #fff;
$light-gray: #d8dada;
$dark-gray: #292929;
